<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">{{ err }}</li>
</ul>

<!-- <form (ngSubmit)="create()"> -->
<form #userForm="ngForm">
  <div>
    <label for="fullName">Nombre completo</label>
    <div>
      <input
        type="text"
        name="fullName"
        [(ngModel)]="user.fullName"
        #fullName="ngModel"
      />
      <!-- required minlength="4" -->

      <!-- primer div pa validar la existencia de erroes  -->
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
        <!-- el 2do div pa renderizar x cada error q se ha generado -->
        <div *ngIf="fullName.errors?.['required']">Nombre es requerido</div>
        <div *ngIf="fullName.errors?.['minlength']">
          Nombre debe tener al menos 4 caracteres
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="username">Username</label>
    <div>
      <input
        type="text"
        name="username"
        [(ngModel)]="user.username"
        #username="ngModel"
      />
      <!-- required -->
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']">Username es requerido</div>
      </div>
    </div>
  </div>
  <div>
    <label for="email">Email</label>
    <div>
      <input
        type="text"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
      />
      <!--  required email -->
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email es requeridos</div>
        <div *ngIf="email.errors?.['email']">
          El email debe tener un formato valido
        </div>
      </div>
    </div>
  </div>
  <div>
    <label for="password">Password</label>
    <div>
      <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
      />
      <!-- required -->
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']">Password es requerido</div>
      </div>
    </div>
  </div>
  <div>
    <label for="rol">Rol</label>
    <div>
      <input type="text" name="rol" [(ngModel)]="user.rol" #rol="ngModel" />
      <!-- required -->
      <div *ngIf="rol.invalid && (rol.dirty || rol.touched)">
        <div *ngIf="rol.errors?.['required']">Rol es requerido</div>
      </div>
    </div>
  </div>
  <div>
    <button
      (click)="create()"
      *ngIf="!user.id; else elseBlock"
      [disabled]="!userForm.form.valid"
    >
      Crear
    </button>
    <ng-template #elseBlock>
      <button (click)="update()" [disabled]="!userForm.form.valid">
        Editar
      </button>
    </ng-template>
  </div>
</form>
