<div><button [routerLink]="['/users/form']">Crear cliente</button></div>

<div *ngIf="users?.length == 0">NO hay registros en la base de datos</div>
<table *ngIf="users?.length > 0">
  <thead>
    <tr>
      <th>id</th>
      <th>uid</th>
      <th>username</th>
      <th>email</th>
      <th>rol</th>
      <th>fullname</th>
      <th>avatar</th>
      <th>editar</th>
      <th>eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.uid }}</td>
      <td>{{ user.username | uppercase }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rol }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.avatar }}</td>
      <td><button [routerLink]="['/users/form', user.id]">editar</button></td>
      <td><button (click)="delete(user)">eliminar</button></td>
    </tr>
  </tbody>
</table>
